<%= form_for([@ticket,@comment]) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-md-6 col-md-offset-3">
<form class="center-entry-content">
  <div class="field">
    <%= f.text_area :content, placeholder:"Comments", style: "height: 250px ", class:"form-control"%>
  </div>
  
  <div class="field center">
  <%= f.submit "Submit", class:"btn background-turquesa btn-md center margin-bottom-page font-size-16"%>
  </div><% end %>
</form>
</div>

