<i class="fa fa-chevron-left fa-lg back left"> <%= link_to 'Back', :back %></i>

<h1 class="entry-title center">Closed Tickets</h1>

<% @closedTickets.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |ticket| %>
      <div class="col-md-4">
        <div class="well ticket" style="background: #e1e1e1;">
        <h2 class="entry-subtitle"><%= link_to ticket.title, ticket %></h2>
        <p class="content-ticket"><%= ticket.content %> <p>
      </div>
      </div>
    <% end %>
  </div>
<% end %>

<p> 
  <%= form_tag(tickets_path, :method => "get", class: "center-search-content") do %>

      <%= text_field_tag :search, params[:search], placeholder: "Search code tickets"%>
      <button class="btn" type="submit">Search</button>
   <% end %>
</p>