<i class="fa fa-chevron-left fa-lg back left"> <%= link_to 'Back', tickets_path %></i>
  <div class="ticket-size">
    <div class="row">
     <h1 class="entry-title col-md-9"><%= @ticket.title %></h1>
     <div class=" col-md-3 right"> 
      <button type="button" class="btn background-turquesa btn-md center margin-bottom-page" style="margin-top: 10%; font-size: 16px;" id="edit_button">
        <%= link_to 'Edit Ticket', edit_ticket_path(@ticket)%> 
      </button>
    </div>
  </div>
        <p><strong class="entry-content-gray">Code:</strong> <label style="font-size: 16px;"><%= @ticket.id%></label></p>
        <p><strong class="entry-content-gray">Created by:</strong><label style="font-size: 16px;"><%=@ticket.user.name%></label></p>
        <p><strong class="entry-content-gray">Open date:</strong> <label style="font-size: 16px;"><%=@ticket.created_at.strftime("%d %B %Y")%></label></p>
        <strong class="entry-content-gray">Responsible:</strong> <label style="font-size: 16px;"><%= @tecnic.name%></label>
        <b style="padding-left: 10px;"></b>
        <button class="btn background-turquesa btn-md center" style="font-size: 16px;" id="upgrade_button">
        <%= link_to 'Upgade', controller: "tickets", action: "upgrade", id: @ticket%>
      </button>
    </br></br>


        <strong class="entry-content-gray">Priority:</strong><label style="font-size: 16px;"><%= @priority.name%></label>
              <b style="padding-left: 10px;"></b>

      <button type="button" class="btn btn-default btn-md" style="font-size: 16px;" id="more_priority_button">
        <%= link_to '+ Priority', controller: "tickets", action: "morePrio", id: @ticket%>
      </button>
      <b style="padding-left: 10px;"></b>
      <button type="button" class="btn btn-default btn-md" style="font-size: 16px;" id="less_priority_button">
        <%= link_to '- Priority', controller: "tickets", action: "lessPrio", id: @ticket%>
      </button>

    </br></br>
        <strong class="entry-content-gray">Status: </strong> <label style="font-size: 16px;"><%= @status.name%></label>
      <b style="padding-left: 10px;"></b>

      <button type="button" class="btn btn-warning btn-md" style="font-size: 16px;" id="proc_button">
        <%= link_to 'Processing Ticket', controller: "tickets", action: "proceso", id: @ticket%>
      </button>
      <b style="padding-left: 10px;"></b>
      <button type="button" class="btn btn-danger btn-md" style="font-size: 16px;"  id="close_button">
        <%= link_to 'Close Ticket', controller: "tickets", action: "finalized", id: @ticket%>
      </button>
      
      </br></br>

     <h4 class="entry-content-gray">Description: </h4>
     <p class= "entry-subtitle"><%= @ticket.content %></p>

<h2 class="entry-content-gray left">Tasks:</h2>


<div class="field ">
    <%@ticket.comments.each do |comment|%>
    <div class="border-comment" style="font-size: 15px;"> 
        <p><label><%=comment.created_at.strftime("%d %B %Y")%></label></p>

      <b><%= comment.user.name%>:</b> <%= comment.content%> </div>
  </br>
    <%end%>
    <h2 class="entry-content center" id="text_new_comment"> New Comment</h2>

    <%=render "comments/form"%>
</div>
  </div>
<%if(current_user.level_authority < 2)%>
  <script type="text/javascript">
    $('#edit_button').hide();
    $('#new_comment').hide();
    $('#text_new_comment').hide();
    $('#upgrade_button').hide();
    $('#more_priority_button').hide();
    $('#less_priority_button').hide();
    $('#proc_button').hide();
    $('#close_button').hide();
  </script>
  <%end%>

<%if(current_user.level_authority == 2)%>
  <%if(current_user.id != @ticket.tecnic_id)%>
  <script type="text/javascript">
    $('#edit_button').hide();
    $('#new_comment').hide();
    $('#text_new_comment').hide();
    $('#upgrade_button').hide();
    $('#more_priority_button').hide();
    $('#less_priority_button').hide();
    $('#proc_button').hide();
    $('#close_button').hide();
  </script>
  <%end%>
  <%end%>

  <%if(@ticket.level > 2)%>
  <script type="text/javascript">
    $('#upgrade_button').hide();
  </script>
  <%end%>

  <%if(@ticket.priority_id == 1)%>
  <script type="text/javascript">
    $('#more_priority_button').hide();
  </script>
  <%end%>

  <%if(@ticket.priority_id == 5)%>
  <script type="text/javascript">
    $('#less_priority_button').hide();
  </script>
  <%end%>

<%if(@ticket.status_id == 3)%>
  <script type="text/javascript">
    $('#edit_button').hide();
    $('#new_comment').hide();
    $('#text_new_comment').hide();
    $('#upgrade_button').hide();
    $('#more_priority_button').hide();
    $('#less_priority_button').hide();
    $('#close_button').hide();
  </script>
  <%end%>
  
  <%if(@ticket.status_id == 2)%>
  <script type="text/javascript">
    $('#proc_button').hide();
  </script>
  <%end%>

</br> </br>