<!DOCTYPE html>
<html>
<head>
  <title>ThoughTrack</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Iconos-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  
  <!--Colores tickets-->
  <script src="https://cdn.jsdelivr.net/jquery.minicolors/2.1.2/jquery.minicolors.min.js"></script>
  
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>

</head>
<body>
  <% if user_signed_in? %>
<nav class="navbar navbar-default navbar-static-top background-turquesa">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbart" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand"><%= link_to "Thoughtrack", home_index_path%></div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="navbart" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a>Logged in as <strong><%= current_user.name%></strong><span class="sr-only">(current)</span></a></li>
        <li> <%= link_to "Home", home_path %></li>
        <li> <%= link_to "Admin Panel", admin_users_path if current_user.app_admin? %></li>
        <li> <%= link_to "Log out", destroy_user_session_path, method: :get %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
  <%end%>




<div class= "container"> 
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
    <%= yield %>
</div>

<footer>
</footer>
<script type="text/javascript">$('#priority_color').minicolors({theme: 'bootstrap'});</script>

</body>
</html>
